* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
html {
  font-family: sans-serif;
}
.shopify-logo {
  width: 200px;
}
.like-buttons {
  display: flex;
}
.like-buttons a {
  width: 40px;
  color: #888;
  border: 1px solid #888;
  border-radius: 1px;
}
.like-buttons a:last-child {
  border-left: none;
}
.contacts {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.contact-numbers p {
  font-weight: bold;
  font-size: 20px;
}
.like-buttons a:hover {
  color: #d9480f;
  transition: box-shadow 0.3s;
  box-shadow: 2px 2px 4px #bbb;
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
}
.categories svg {
  width: 40px;
  padding-right: 15px;
}
.search-container {
  background-color: #e5e1e6;
  /* height: 70px; */
  padding: 20px 40px;
  display: flex;
  gap: 50px;
}
input[type="search"] {
  border: none;
  outline: none;
  width: 40%;
  padding: 15px 25px;
  font-size: 16px;
  width: 90%;
}
input[type="search"]::placeholder {
  font-style: Italic;
  font-size: 14px;
}
.search-icon {
  width: 25px;
  position: absolute;
  right: 12%;
}
.search-bar {
  display: flex;
  align-items: center;
  flex: 2;
  position: relative;
}
.nav-icons {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-icon {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}
.nav-icon svg {
  width: 40px;
}
.cart {
  position: relative;
}
.cart svg {
  fill: #a8a9ad;
}
.cart p {
  top: -7px;
  right: -3px;

  position: absolute;
  display: grid;
  place-items: center;
  background-color: red;
  height: 25px;
  width: 25px;
  color: #a8a9ad;
  border: 2px solid #e5e1e6;
  border-radius: 50%;
  font-size: 15px;
}
.navigation-number {
  text-decoration: none;
  color: #333;
}
.slideshow-section img{
 
  width: 50%;
  object-fit: cover;
  display: inline-block;


}
.slideshow{
  display: flex;
  overflow-x: scroll;

}
.slideshow::-webkit-scrollbar {
  display: none;
}
.slide-img{
  min-width: 100vw;
  display: grid;
  place-items: center;
  height: 40%;
}
.dots{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5%;
}
.dot{
  width: 12px;
  height: 12px;
  margin-bottom: 3px;
  border-radius: 50px;
  background-color: #3333;
}
.active{
  background-color: #222;
}
/* Products Section */
.products-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2%;
}
.products{
  margin-top: 2%;
}
.margin{
  margin-left: 8%;
}
.secondary-heading{
  font-size: 18px;
  margin-top: 3%;
}
.featured-categories{
  list-style: none;
  display: flex;
  gap: 3%;
  letter-spacing: 0.5px;
  margin-top: 3%;
}
.featured-category:link,
.featured-category:visited{
  color: #a4a4a4;
  font-size: 18px;
  text-decoration: none;
}
.featured-category:active,
.featured-category:hover{
  color: #1a1a1a;
  font-size: 18px;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 10%;
  transition: all .1s;
}
.rating{
  display: flex;
  margin-top: 3%;

}
.product{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 2px  solid  rgba(0, 0, 0, 0.08);
  width: 280px;
  padding: 2% 1%;
}
.product:hover{
  border: 1px solid  rgba(0, 0, 0, 0.10);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
}
.product-price p{
  font-weight: 900;
  color: #ff0000;
  font-size: 18px;
  margin-top: 15%;
}
.rating-icon{
  color: #666666;
}
/* footer */
footer{
  display:  flex;
  gap: 3%;
  background-color: #383838;
  padding: 2%;
  line-height: 2;
}
footer a{
  text-decoration: none;
  color: #cccccc;
}
footer li{
  list-style: none;
}
.countries li{
  list-style: circle;
  color: #cccccc;


}
.nav-col{
  min-width: 210px;
}
.footer-header{
  font-size: 22px;
  margin-bottom: 5%;
  font-weight: 900;
  color: #fff;
}
.social-logo{
  width: 44px;
  height: 44px;
}
.social-links li{
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 5% 0   0 -25% ;
}
h4,
address{
  color: #cccccc;
}
h4 span{
  font-weight: 200;
}
.copyright{
  color: #cccccc;
  margin-top: 50%;

}
.about{
  margin: 3% 1%  4% 0;
  line-height: 1.8;
}
.about-link{
  color: red;
}
.about-link:active,
.about-link:hover{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}